@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ================================
        Hero area style
===================================*/
.hero-area {
    background-color: #264653;
}

.banner-content p:first-child {
    font-size: 14px;
    /* width: 480px; */
}

.honda-purchase-btn {
    background-color: #E76F51;
}

.title {
    color: #18191F;
}

/* ================================
        Featured section style
===================================*/
.highlight {
    color: #E76F51;
}

.section-title {
    font-size: 48px;
    font-weight: 600;
}

.feature-area p {
    font-size: 14px;
    font-weight: 600;
}

.underline {
    display: inline-block;
    width: 58px;
    height: 2px;
    background-color: #E76F51;
}

.bike {
    line-height: 0;
    margin-bottom: 0;
    margin-top: 15px;
}

.grayscale-effect img {
    filter: grayscale(100%);
}

/* ================================
        Client Section Style
===================================*/
.client img {
    width: 158px;
    height: 162px;
    /* border: 1px solid gray; */
}
.single-item h5 {
    font-size: 14px;
    color: #23A6F0;
    font-weight: 600;
}

.designation {
    font-size: 14px;
    font-weight: 600;
}
.fill-color {
    color: #E77C40;
}

.empty {
    color: #E77C40;
}

/* ===============================
        Faq section style
==================================*/
.btn-outline,
.btn-outline:focus {
    border-color: black;
}


/* ===============================
        Upcoming Section style
==================================*/
.bike-slider img {
    height: 420px;
    /* object-fit: cover; */
}
.ac {
    font-family: 'Inter', sans-serif;
}

