@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ================================
        Hero area style
===================================*/
.hero-area {
    background-color: #264653;
}
.ac {
    font-family: 'Inter', sans-serif;
}

.client img {
    width: 158px;
    height: 162px;
    border: 1px solid gray;
}
