@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ================================
        Hero area style
===================================*/
.hero-area {
    background-color: #264653;
}

.honda-purchase-btn {
    background-color: #E76F51;
}


/* ================================
        Featured section style
===================================*/
.highlight {
    color: #E76F51;
}

.underline {
    display: inline-block;
    width: 58px;
    height: 2px;
    background-color: #E76F51;
}

.bike {
    line-height: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
.ac {
    font-family: 'Inter', sans-serif;
}

.client img {
    width: 158px;
    height: 162px;
    /* border: 1px solid gray; */
}
